<div class="section white footer">
    <div class="container">
      <div class="p-t-30 p-b-50">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 xs-m-b-20">
            <img src="img/logo_condensed.png" alt="" data-src="img/logo_condensed.png" data-src-retina="img/logo2x.png" width="119" height="22"/>
          </div>
          <div class="col-md-4 col-lg-3 col-sm-4  col-xs-12 xs-m-b-20">
              <address class="xs-no-padding  col-md-6 col-lg-6 col-sm-6  col-xs-12">  
              #318<br/>
              16th Cross, 5th Phase<br/>
              Bangalore - 560078<br/>
              India
              </address>
              <div class="xs-no-padding col-md-6 col-lg-6 col-sm-6">
                <div>(0039) 389 957 5552</div>
                support@eMangu.com
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
            Copyright © 2013
            Privacy Policy
            Design by <a href="#">eMangu Team</a>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
            <div class="bold">RECRUITMENT</div>
              We are frequently on the lookout for new talent!
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 ">
              <div class="bold">FOLLOW US</div>
                We are frequently on the lookout for new talent!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
