<!-- Blog Entries Column -->
<div class="col-md-8" >
  <!-- First Blog Post -->
  <Any ng-repeat="x in posts">
    <div class="bg-info" style="padding:10px;">
      <h2>
        <a href="">{{x.title}}</a>
      </h2>
      <p class="lead">
        by <a href="#">Start Bootstrap</a>
      </p>
      <p><br/>{{x.subject}}</p>
      <a class="btn btn-primary" href="index.html#/show">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
      <br/>
      <p style="margin-top:5px;"><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
    </div>
    <br/>
  </Any>
  <hr>
  <!-- Pager -->
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>