<div class="col-md-8 bg-info">
  <h1>
    Blog Post
  </h1>
  <form ng-submit="submit()">
    <br/>
    <div class="input-group">
      <span class="input-group-addon">Title </span>
      <input type="text" class="form-control" placeholder="Title" ng-model="title">
    </div>
    <br/>
    <div class="input-group">
      <span class="input-group-addon">Body</span>
      <textarea   ck-editor id="subject" class="form-control" placeholder="Body" rows="9" data-ng-model="subject"></textarea>
    </div>
    <br/>
    <button type="submit" class="btn btn-info pull-right" >Submit</button>
    <br/>
    <br/>
  </form>
</div>